@Model

<h2>@ViewBag.Title</h2>

<body>
    <div>
        <img src="https://techtimes.vn/wp-content/uploads/2020/10/z2124617447824_ebf776b6fdc34714a5cba7c3f9297a29.jpg " height="200" />
        <h3>Iphone 12 Pro Max</h3>
        <h4>Giá: 20000000VNĐ</h4>
        <a href="https://www.apple.com/iphone-12-pro/">Thông tin chi tiết</a>
        <h5>Số lượng: 1 - Đã thanh toán</h5>
    </div>

    <div>

        <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone11-select-2019-family?wid=882&amp;hei=1058&amp;fmt=jpeg&amp;qlt=80&amp;.v=1567022175704 " height="200" />
        <h3>Iphone 11</h3>
        <h4>Giá: 17000000VNĐ</h4>
        <a href="https://www.apple.com/vn/iphone-11/specs/">Thông tin chi tiết</a>
        <h5>Số lượng: 1 - Đã thanh toán</h5>
    </div>

    <div>

        <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-xr-select-2019-family?wid=441&amp;hei=529&amp;fmt=jpeg&amp;qlt=95&amp;.v=1550795424612" height="200" />
        <h3>Iphone XR</h3>
        <h4>Giá: 13000000VNĐ</h4>
        <a href="https://www.apple.com/vn/iphone-xr/specs/">Thông tin chi tiết</a>
        <h5>Số lượng: 1 - Đã thanh toán</h5>
    </div>
</body>
